body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1rem;
    line-height: 1.5;
}

h1, h2 {
	text-align: center;
}

h1 {
	font-size: 1.75rem;
}

h2 {
	font-size: 1.5rem;
}

/* --------- LOGO/NAVIGATION SECTION --------- */
header {
	padding: 1rem 1rem 0.8rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: sticky;
	top: 0;
	background-color: #fff;
}

.site-navigation ul {
	list-style: none;
	padding: 0;
	margin: 0;
	text-align: center;
	display: none;
	position: absolute;
	top: 4.5rem;  /* Matches the height of the .site-header */
	left: 0;
	right: 0;
	z-index: 2;
	background-color: #fff;
}

.site-navigation.toggled ul {
	display: block;
}

.site-navigation a {
	display: block;
	padding: 1rem;
	font-family: Georgia, Times, "Times New Roman", serif;
	font-size: 1.5rem;
	text-decoration: none;
	color: #282828;
}

.menu-toggle {
	display: block;
	background-color: transparent;
	border: 0;
}

.menu-toggle:focus {
	border: 0;
	outline: 1px dotted;
}

@media (min-width: 50em) {

	.menu-toggle {
		display: none;
	}

	.site-navigation {
		flex: 1 1 auto;
		padding: 0 1rem;
	}

	.site-navigation ul,
	.site-navigation.toggled ul {
		display: flex;
		justify-content: flex-end;
		position: relative;
		top: 0;
	}

	.site-navigation a {
		line-height: 4.5rem; /* Matches the height of the .site-header */
		padding: 0 1rem;
	}

}


/* --------- GREETING SECTION --------- */
.greeting-blurb p {
	font-size: 0.95rem;
	margin: auto;
	width: 60%;
	text-align: justify;
    text-align-last: center;
}

.greeting-link {
	display: flex;
	justify-content: center;
	margin-top: 1.25rem;
}

.greeting-link a {
	padding: 0.5rem 3rem 0.7rem 3rem;
	outline: 2px solid #cdcdcd;
	border-radius: 30px;
	text-decoration: none;
	font-weight: 700;
}

.greeting-link a:hover {
	color: #fff;
	background-color: black;
	outline: none;
	transition: 0.5s;
}


/* --------- PROJECTS SECTION --------- */
.projects-head {
	background-color: #eee;
	margin-top: 2rem;
	padding-bottom: 2rem;
}

.projects-head h2 {
	padding: 1.5rem 0 0.5rem 0;
}

.section-projects {
	background-color: #eee;
	display: flex;
	justify-content: space-around;
	align-content: center;
	flex-wrap: wrap;
	gap: 2rem;
}

.section-projects h2 {
	margin-top: 1rem;
	padding-top: 1.5rem;
}

.projects {
	background-color: #fff;
	max-width: 15.625rem;
	margin: auto;
	padding-bottom: 2rem;
}

.projects h3 {
	text-align: center;
	text-transform: lowercase;
}

.projects-link {
	display: flex;
	justify-content: center;
}

.projects-link a {
	padding: 0.2rem 1.5rem 0.4rem 1.5rem;
	border-radius: 30px;
	text-decoration: none;
	background-color: #000;
	color: #fff;
	font-weight: 700;
}

.projects-link a:hover {
	background-color: #eee;
	color: #000;
	transition: 0.5s;
}


/* --------- CONTACT SECTION --------- */

fieldset {
	margin: 2rem auto;
	border: none;
	text-transform: lowercase;
	max-width: 30%;
	display: flex;
	flex-direction: column;
}

legend {
	margin: auto;
	font-size: 1.75rem;
	font-weight: 700;
}

label {
	display: block;
	padding-top: 1rem;
}

input[type=submit] {
	margin: 2rem auto;
	display: block;
	background-color: #000;
  	border: none;
  	padding: 0.3rem 2rem 0.5rem 2rem;
	border-radius: 30px;
	text-decoration: none;
	color: #fff;
	font-weight: 700;
}


/* --------- FOOTER SECTION --------- */
footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 2rem;
	background-color: #eee;
}

nav ul {
	padding: 0;
}

nav li {
	display: inline-block;
}

footer p {
	font-size: 0.8rem;
	font-weight: 700;
}

footer img {
	vertical-align: middle;
}