html {
	scroll-behavior: smooth;
	scroll-padding-top: 10rem;
}

body {
    font-family: 'Kumbh Sans','Segoe UI', sans-serif;
    font-size: 1rem;
    line-height: 1.5;
	color: #202020;
	text-transform: lowercase;
	letter-spacing: 1px;
}

h1, h2, h3 {
	text-align: center;
}

h1 {
	font-size: 1.75rem;
	font-family: 'Merienda', 'Segoe UI', sans-serif;
}

h2 {
	font-size: 1.75rem;
}

h3 {
	font-size: 1.3rem;
	letter-spacing: 0;
}

.wrap {
	max-width: 120rem;
	margin: 0 auto;
}

a,
a:visited {
	color: #202020;
}

a:hover,
a:focus,
a:active {
	text-decoration: underline;
}

/* --------- LOGO/NAVIGATION SECTION --------- */
header {
	padding: 1rem 1rem 1rem 1rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: sticky;
	top: 0;
	background-color: #fff;
	box-shadow: 0px 0px 5px #cdcdcd;
}

header img {
	height: 2rem;
	width: 2rem;
}

.site-navigation ul {
	list-style: none;
	padding: 0;
	margin: 0;
	text-align: center;
	display: none;
	position: absolute;
	top: 4.5rem;
	left: 0;
	right: 0;
	z-index: 2;
	background-color: #fff;
}

.site-navigation.toggled ul {
	display: block;
}

.site-navigation li {
	display: list-item;
}

.site-navigation a {
	display: block;
	padding: 1rem;
	font-size: 1.5rem;
	text-decoration: none;
	color: #222222;
}



.menu-toggle {
	display: block;
	background-color: transparent;
	border: 0;
}

.menu-toggle:focus {
	border: 0;
	outline: 1px dotted;
}

@media (min-width: 50em) {

	.menu-toggle {
		display: none;
	}

	.site-navigation {
		flex: 1 1 auto;
		padding: 0 1rem;
	}

	.site-navigation ul,
	.site-navigation.toggled ul {
		display: flex;
		justify-content: flex-end;
		position: relative;
		top: 0;
	}

	.site-navigation a {
		line-height: 4.5rem; /* Matches the height of the .site-header */
		padding: 0 1rem;
	}

	.site-navigation a:hover {
	letter-spacing: 2px;
	color: #868686;
	transition: 0.5s;
	}

	header {
		padding-left: 2rem;
	}

	header img {
	height: 5rem;
	width: 5rem;
	padding: 1rem;
	}

	header img:hover {
	opacity: 0.5;
	transition: 0.5s;
	}
}


/* --------- GREETING SECTION --------- */
.greeting-blurb p {
	font-size: 0.95rem;
	margin: auto;
	max-width: 15rem;
	text-align: justify;
    text-align-last: center;
	letter-spacing: 0;
}

.greeting-blurb h1 {
	margin-top: 5rem;
}

.greeting-link {
	display: flex;
	justify-content: center;
	margin: 1.25rem 0 5rem 0;
}

.greeting-link a {
	padding: 0.5rem 3rem 0.7rem 3rem;
	outline: 2px solid #cdcdcd;
	border-radius: 30px;
	text-decoration: none;
	font-weight: 700;
	color: #222222;
	letter-spacing: 0;
}

.greeting-link a:hover {
	color: #fff;
	background-color: #222222;
	outline: none;
	transition: 0.5s;
}

.greeting img {
	min-height: 16rem;
	object-fit: cover;
	width: 100%;
}

@media (min-width: 50em) {
	.greeting-blurb p {
		max-width: 40rem;
		top: 400px;
		text-align: center;
	}

	.greeting h1 {
		font-size: 2.5rem;
	}

	.greeting p {
		font-size: 1.25rem;
		letter-spacing: 1px;
	}
}


/* --------- PROJECTS SECTION --------- */
.projects-head {
	background-color: #f8f8f8;
	margin-top: 2rem;
	padding-bottom: 2rem;
}

.projects-head h2 {
	padding-top: 3rem;
}

.section-projects {
	background-color: #f8f8f8;
	display: flex;
	justify-content: end;
	align-content: center;
	flex-wrap: wrap;
	padding: 2rem;
	gap: 2rem;
}

.projects {
	background-color: #fff;
	max-width: 15.625rem;
	margin: auto;
	padding-bottom: 2rem;
	box-shadow: 0px 0px 5px #cdcdcd;
}

.projects-link {
	display: flex;
	justify-content: center;
}

.projects-link a {
	padding: 0.2rem 1.5rem 0.4rem 1.5rem;
	border-radius: 30px;
	text-decoration: none;
	background-color: #222222;
	color: #fff;
	font-weight: 700;
}

.projects-link a:hover {
	background-color: #eee;
	color: #202020;
	transition: 0.5s;
}


/* --------- CONTACT SECTION --------- */
fieldset {
	margin: 3rem auto;
	border: none;
	max-width: 30%;
	display: flex;
	flex-direction: column;
}

legend {
	margin: auto;
	font-size: 1.75rem;
	font-weight: 700;
}

label {
	display: block;
	padding-top: 1rem;
	font-weight: 700;
}

input[type="submit"] {
	margin: 2rem auto;
	display: block;
	background-color: #222222;
  	border: none;
  	padding: 0.3rem 2rem 0.5rem 2rem;
	border-radius: 30px;
	text-decoration: none;
	color: #fff;
	font-weight: 700;
	letter-spacing: 1px;
}


/* --------- FOOTER SECTION --------- */
footer {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 1.5rem 2rem;
	background-color: #f8f8f8;
	text-transform: uppercase;
}

.footer-nav ul {
	padding: 0;
}

.footer-nav li {
	display: inline-block;
	padding: 0 0.2rem;
	font-size: 2rem;
}

.footer-nav a {
	padding: 0.75rem 0.75rem;
	}

footer p {
	font-size: 0.8rem;
	font-weight: 700;
	position: relative;
	top: 1rem;
}


@media (min-width: 50em) {
	footer {
		flex-direction: row;
		justify-content: space-between;
	}

	footer p {
		position: relative;
		top: 0;
	}

	nav a:hover {
	color: #868686;
	transition: 0.5s;
	}
}